 html,
 body {
   margin: 0;
   padding: 0;
 }

 .app {
   display: flex;
   justify-content: space-between;
 }

 .app>div {
   min-height: 100vh;
 }

 .app>div:first-child {
   width: 250px;
   background: #efefef;
 }

 .app>div:last-child {
   width: calc(100vh - 250px);
 }